<section class="navbar h-screen w-64 bg-gray-100 dark:bg-slate-900  border-gray-300 dark:border-gray-700 flex flex-col justify-between">
  <div class="text-center mb-6  p-4 text-lg font-bold uppercase text-gray-800 dark:text-gray-200">
    Dawid Mędrala
  </div>

  <nav class="flex-grow flex flex-col justify-center">
    <div class="nav-item">
      <a href="#home" class="nav-link relative py-3 pl-4 text-lg text-gray-800 dark:text-gray-200 uppercase" [ngClass]="{'active': activeSections().includes('home')}">
        Home
      </a>
    </div>
    <div class="nav-item">
      <a href="#experience" class="nav-link relative py-3 pl-4 text-lg text-gray-800 dark:text-gray-200 uppercase" [ngClass]="{'active': activeSections().includes('experience')}">
        Experience
      </a>
    </div>
    <div class="nav-item">
      <a href="#techstack" class="nav-link relative py-3 pl-4 text-lg text-gray-800 dark:text-gray-200 uppercase" [ngClass]="{'active': activeSections().includes('techstack')}">
        TechStack
      </a>
    </div>
    <div class="nav-item">
      <a href="#contact" class="nav-link relative py-3 pl-4 text-lg text-gray-800 dark:text-gray-200 uppercase" [ngClass]="{'active': activeSections().includes('contact')}">
        Contact
      </a>
    </div>
  </nav>

  <div class="flex justify-center items-center p-4 text-gray-800 dark:text-white">
    <button (click)="toggleDarkMode()" class="flex items-center">
      <span class="material-icons mr-2">
        {{ darkMode() ? 'light_mode' : 'dark_mode' }}
      </span>
      {{ darkMode() ? 'Light Mode' : 'Dark Mode' }}
    </button>
  </div>
</section>
