.navbar {
  overflow-y: visible;
  // width: 16em;
  max-height: 100vh;
  position: fixed;
}
.nav-link {
  padding: 10px 30px;
  position: relative;
  display: flex;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: theme('colors.gray.800'); 
  @apply dark:text-gray-200; 
  opacity: 0.85;

  &:hover {
    color: theme(
      'colors.pink.500'
    ); 
  }

  &.active {
    font-weight: bold;
    color: theme('colors.pink.500');
  }

  /* Pseudo-element ::after dla podświetlenia */
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0; 
    right: 0; 
    margin: auto; 
    width: 0;
    height: 3px;
    background: linear-gradient(
      270.16deg,
      theme('colors.pink.500') 33.61%,
      rgba(175, 38, 118, 0) 92.05%
    );
    transition: width 0.35s ease;
  }

  &.active::after {
    width: 65px;
  }
}
