
  .site-map {
    z-index: 5;
    overflow-y: visible;
    width: 16em;
    max-height: 100vh;
    position: fixed;
  }

  .navbar{
    z-index: 20;
    position: fixed;
    width: 100%;

    @media (min-width: 1200px) {
      display: none;
    }
  }