<section class="bg-slate-200 dark:bg-slate-700">
  <section class="navbar bg-gray-100 dark:bg-slate-900  flex items-center justify-between p-4">
    <div class="text-lg font-bold uppercase text-gray-800 dark:text-gray-200">
      Dawid Mędrala
    </div>
    <div>
      <button class="text-2xl material-icons p-2 rounded-full bg-gray-100 dark:bg-slate-900 text-gray-800 dark:text-gray-200 transition-colors duration-300" (click)="toggleDrawer()">
        menu
      </button>      
    </div>
  </section>  
  <mat-drawer-container>
    <mat-drawer class="site-map" #sidenav mode="side" [mode]="drawerMode" [opened]="isDrawerOpen">
      <app-navbar
        [darkMode]="darkMode"
        [activeSections]="activeSections"
      ></app-navbar>
    </mat-drawer>
    <main class="content">
      <section id="home" class="section h-screen">
        <app-home></app-home>
      </section>
      <section id="experience" class="section">
        <app-experience></app-experience>
      </section>
      <!-- <section id="techstack" class="section h-screen">
        <app-techstack></app-techstack>
      </section>
      <section id="contact" class="section h-screen">
        <app-contact></app-contact>
      </section> -->
    </main>
  </mat-drawer-container>
</section>
