<section class="bg-slate-200 dark:bg-slate-700">
  <mat-drawer-container>
    <mat-drawer class="site-map" #sidenav mode="side" opened="true">
      <app-navbar [darkMode]="darkMode" [activeSection]="activeSection"></app-navbar>
    </mat-drawer>
    <main class="content">
      <section id="home" class="section h-screen">
        <app-home></app-home>
      </section>
      <section id="experience" class="section h-screen">
        <app-experience></app-experience>
      </section>
      <section id="techstack" class="section h-screen">
        <app-techstack></app-techstack>
      </section>
      <section id="contact" class="section h-screen">
        <app-contact></app-contact>
      </section>
    </main>
  </mat-drawer-container>
</section>
